@model AuraTest.Models.Cart

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model.CartItems)
            {
                <tr>
                    <td>
                        @foreach (var product in ViewBag.product)
                        {
                            if (product.ProductId == cartItem.ProductId)
                            {
                                @product.ProductName
                            }
                        }
                    </td>
                    <td>
                        @foreach (var product in ViewBag.product)
                        {
                            if (product.ProductId == cartItem.ProductId)
                            {
                                <img src="~/img/@product.ProductImageUrl" style="width:20%" />
                            }
                        }
                    </td>
                    <td>@cartItem.ProductAmount</td>
                    <td>
                        <!-- Add a form for deleting the cart item -->
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="itemId" value="@cartItem.ItemId" /> <!-- Pass itemId to the delete action -->
                            <button type="submit" class="btn btn-danger">-</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.CartId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
